body {
  background-color: lightblue;
}

h1 {
  color: blue;
  text-align: center;
  font-family: verdana;
  font-size: 40px;
}
h2 {
  color: red;
  text-align: center;
  font-family: verdana;
  font-size: 25px
}
h3 {
  color: green;
  font-family: verdana;
  font-size: 20px
}
h4 {
  color: purple;
;
}
p {
  font-family: verdana;
  font-size: 20px;

}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
}
a {
  background-color: red;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}
