body{
    background-color: #d3d3d3;
    text-align:left;
}
header {
    width: 1000px;
    width:100%;
}
main {
    background-color: rgba(205, 224, 226, 0.788);
    direction: horizontal;
        max-width: 960px;
        margin-top: left;
        margin-left: left;
        padding : 10px 20px 20px 20px;
        font-family: tahoma;
        border-radius: 10px;
        text-align: left;
    }

h1,
h2,
h3 {
    font-family: Georgia;
    font-size: 1em;
    color: #1b181f; 
   display:inline-block;
}
address {
    text-align: left;
}
    li {
        display: inline-block; 
        width: 5em;
        margin-right: 1em;
        margin-bottom: 1em;
        position: left;
        vertical-align: top;
        }
    nav {
        max-width: 960px;
        padding-top:10px;
        padding-bottom:10px;
        border: 1px solid #347B98;
    }

    footer {
    
        max-width: 960px;
    }
    aside {
        text-align: center;
        position: center;
        border: 1px solid #903498;
        max-width: 960px;
        padding-top:10px;
        padding-bottom:10px;
    }
   div {
    border: 1px solid #903498;
    text-align: left;
    max-width: 960px;
    padding-top:10px;
    padding-bottom:10px;
   }

   article {
    
       text-align: right;
       max-width: 960px;
   }
   p {
    text-align:left;
   }
   .section2 {
        text-align:left;
        border: none;
        margin-right: 2em;
        margin-bottom: 2em;
        max-width: 960px;
    padding-top:10px;
    padding-bottom:10px;
   }
   table {
       border: none;
   }
  figure {
    width: 20%;
   margin-right: 2em;
   margin-bottom: 2em;
   display: left;
    margin-right:2em;
    margin-left: 0px;
    width:40%;
    position: left;
    }
h2 {
    position: left;
}
a {
  text-decoration: none;
   font-weight:bold;
   color:navy;
        }

    a:hover {
        text-decoration: underline;
        color:#347B98;
        }
       
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
          }
          
          li {
            float: left;
          }
          
          li a {
            display: block;
            color:#903498;
            text-align: center;
            padding: 16px;
            text-decoration: none;
          }
          

.images {
    padding: 0px;
    margin: 0px;
}
.images li {
    display:inline-block;
    width: 20%;
    margin-right: 2em;
    margin-bottom: 2em;
}
        
.images li img {
    border: 3px solid lightsalmon;
    border-radius: 10px;
}
