body {background-color: ivory;
color: gray;
}
h1 {font-size: 35px;
}
p {font-size: 16px;
text-color: dark blue;
background-color: Lavender;
}
ul {list-style-type: square;
}
ol {list-style-type: lower-alpha;
}
.myDiv {
height: 200px;
width: 200px;  
border: 2px dotted;
}
