body {
  background-color: lightblue;
}

h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: red;
  text-align: left;
}
h3 {
  color: green;
  text-align: left;
}
p {
  font-family: verdana;
  font-size: 20px;
  text-align: left
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 100 %;
}
a {
  color: red;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: hotpink;
}
