body {
background-color: ivory;
  color: gray;
}
h1 {
font-size: 35px;
}
p {
font-size: 16px;
  text-color: dark blue;
  background-color: Lavender;
}
ol > li{
    list-style: letter;
}
ul > li{
list-style:squares;
}

.myDiv {
padding: 200 px;
border: 2px dotted;
}
